{% extends 'base.html' %}
{% block content %}
    <h1>Zalogowany jako {{ current_user.username }}</h1>
    <form method="POST" action="">
            {{ form_search.hidden_tag() }}
            {{ form_search.searchText.label(class="form-label") }}
            {{ form_search.searchText(class="form-control") }}
            <br>
            {{ form_search.submit(class="btn btn-primary") }}
    </form>
    <h3>Pozostało ci {{ current_user.days_left }} dni urlopu</h3>
    <div class="list-group">
        {% for leave in leaves %}
            <div class="list-group-item">
                <h7 class="fw-bolder">{{leave.user.username}}</h7>: {{ leave.start_day.date() }} - {{ leave.end_day.date() }}
                {% if current_user.role == 'Admin' %}
                    <p>
                    Accepted:
                        {% if leave.accepted %}
                        <a href="{{url_for('change_accept', leave_id=leave.id)}}" class="text-success  text-decoration-none">
                        ✓
                        </a>
                        {% else %}
                        <a href="{{url_for('change_accept', leave_id=leave.id)}}" class="text-danger text-decoration-none">
                        ✗
                        </a>
                    {% endif %}
                    </p>
                    <button type="button" class="btn btn-danger">
                        <a href="{{url_for('delete_leave', leave_id=leave.id)}}" class="link-light text-decoration-none">
                            Usuń
                        </a>
                    </button>
                {% else %}
                    {% if leave.accepted %}
                        <p class="fs-2 text-success">Accepted: ✓  </p>
                    {% else %}
                        <p class="fs-2 text-danger">Accepted: ✗ </p>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
<!--    show errors-->
    {% for error in form.end_date.errors %}
        <p class="text-danger">
            {{ error }}
        </p>
    {% endfor %}
    {% for error in form.display_days_errors.errors %}
        <p class="text-danger">
            {{ error }}
        </p>
    {% endfor %}
    <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#sendModal">
        Złóż wniosek o urlop
    </button>

    <nav class="navbar navbar-dark bg-dark rounded-3">
        <div class="container-sm d-flex justify-content-evenly">
            {% if current_user.is_authenticated %}
                    <a href="{{url_for('logout')}}" class="link-light text-decoration-none">Wyloguj</a>
                    <a href="{{url_for('index')}}" class="link-light text-decoration-none">Strona główna</a>
                {% else %}
                <a href="{{url_for('login')}}" class="link-light text-decoration-none">Zaloguj się</a>
                <a href="{{url_for('index')}}" class="link-light text-decoration-none">Strona główna</a>
            {% endif %}
        </div>
    </nav>
{% endblock content %}

{% block modal %}
<!-- Modal -->
<div class="modal fade" id="sendModal" tabindex="-1" aria-labelledby="sendModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sendModalLabel">Potwierdzenie urlopu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p class="border-bottom">Upewnij się, że daty są prawidłowo wybrane !!!</p>
            <form method="POST" action="">
        <div class="mb-3 ">
            {{ form.hidden_tag() }}
            {{ form.start_date.label(class="form-label") }}
            {{ form.start_date(class="form-control") }}
            <br>
            {{ form.end_date.label(class="form-label") }}
            {{ form.end_date(class="form-control") }}
            <br>
            <div class="d-flex justify-content-evenly">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                {{ form.submit(class="btn btn-primary") }}
            </div>

        </div>
    </form>
      </div>
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                      {{ form.submit(class="btn btn-primary") }}-->

<!--        <form method="POST" action="">-->
<!--            {{ form.hidden_tag() }}-->
<!--        </form>-->
<!--      </div>-->
    </div>
  </div>
</div>
{% endblock %}
